<template>
  <div>
    <div class="banner"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <h1>Contact us</h1>
            <form v-if="!sent" @submit="submit($event)">
              <div class="mb-4">
                <label class="form-label" for="name">Name</label>
                <input v-model="name" class="form-control" id="name" type="text" placeholder="Bob Smith" />
              </div>
              <div class="mb-4">
                <label class="form-label" for="contact-email">Email</label>
                <input v-model="email" class="form-control" id="contact-email" type="text" placeholder="example@example.com" />
              </div>
              <div class="mb-4">
                <label class="form-label" for="message">Message</label>
                <textarea v-model="message" class="form-control" id="message" type="text" placeholder="Please write a message for us here!" style="height: 10rem;"></textarea>
              </div>
              <input type="hidden" v-model="honey">
              <div class="d-flex justify-content-end">
                <button v-if="!loading" class="btn btn-primary" type="submit">Submit</button>
                <button v-else disabled class="btn btn-primary">Sending...<img src="/loading.svg" /></button>
              </div>
            </form>
            <p v-else>Thanks for sending us a message! We will take a look ASAP!</p>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Contact us - piko made | Australian handmade accessories & jewellery ',
    meta: [
      {
        hid: 'contact',
        name: 'description',
        content: 'Piko made is an Australian-Japanese jewellery and accessories brand. With a team of two and based in the beautiful Gold Coast Hinterland, we are focused on quality and unique antiquity.'
      }
    ],
  },
  data() {
    return {
      email: "",
      name: "",
      message: "",
      honey: "",
      loading: false,
      sent: false
    }
  },
  methods: {
    async submit(e) {
      e.preventDefault();
      if ( !(this.email !== "" && this.name !== "" && this.message !== "") ) {
        alert("Please fill out all of the fields!");
        return;
      }
      if ( this.honey !== "" ) return;
      this.loading = true;
      const res = await fetch("https://ap-southeast-2.aws.webhooks.mongodb-realm.com/api/client/v2.0/app/piko-made-jbnjo/service/HTTP/incoming_webhook/contact", {
        method: "post",
        headers: { "content-type": "application/json" },
        body: JSON.stringify({
          email: this.email,
          name: this.name,
          message: this.message,
        })
      })
      .then(res => res.json())
      this.loading = false;
      this.sent = true;
    }
  }
}
</script>

<style scoped>
h1 {
  margin-bottom: 30px;
}
.banner {
  margin-bottom: 60px;
  width: 100%;
  height: 400px;
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210827_121250.jpg?v=1630056547");
  background-size: cover;
  background-position: center center;
}
button {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 991px) {
  .banner {
    height: 200px;
    margin-bottom: 40px;
  }
}
</style>