<template>
  <div class="container">
    <h1 class="my-5">Stockists</h1>
    <div class="row stockist mb-5">
      <div class="col-lg-4 col-3">
        <img src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/hansho_brisbane.jpg?v=1661250868" alt="Hanasho Brisbane">
      </div>
      <div class="col-lg-8 col-9">
        <h2>Hanasho - Brisbane</h2>
        <p>Address: <a rel="noopener noreferer" target="_blank" href="https://goo.gl/maps/dnKjpbL5QJJvZdgHA">235 Boundary St, West End QLD 4101</a></p>
        <p>Website: <a rel="noopener noreferer" target="_blank" href="https://www.facebook.com/hanasho.flowerart">https://www.facebook.com/hanasho.flowerart</a></p>
        <p>Instagram: <a rel="noopener noreferer" target="_blank" href="https://www.instagram.com/hanasho_flower_and_art/?hl=en">https://www.instagram.com/hanasho_flower_and_art/?hl=en</a></p>
      </div>
    </div>

    <div class="row stockist mb-5">
      <div class="col-lg-4 col-3">
        <img src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/teshigoto.jpg?v=1661256609" alt="Teshigoto Brisbane">
      </div>
      <div class="col-lg-8 col-9">
        <h2>Kazuyo's collection, Teshigoto-Hand work - Brisbane</h2>
        <p>Address: <a rel="noopener noreferer" target="_blank" href="https://goo.gl/maps/sLeHaw4pwDa6YshU7">Ground Floor/195 B Boundary St, West End QLD 4101</a></p>
        <p>Website: <a rel="noopener noreferer" target="_blank" href="https://www.facebook.com/kimonofrog">https://www.facebook.com/kimonofrog</a></p>
        <p>Instagram: <a rel="noopener noreferer" target="_blank" href="https://www.instagram.com/kazuyoscollection/?hl=en">https://www.instagram.com/kazuyoscollection/?hl=en</a></p>
      </div>
    </div>

    <div class="row stockist">
      <div class="col-lg-4 col-3">
        <img src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/why_mary.jpg?v=1661256692" alt="Why Mary Gold Coast">
      </div>
      <div class="col-lg-8 col-9">
        <h2>Why Mary - Gold Coast</h2>
        <p>Address: <a rel="noopener noreferer" target="_blank" href="https://g.page/whymary_gallery?share">The Kitchens, Level 1 Robina Town Centre Dr, Robina QLD 4230</a></p>
        <p>Website: <a rel="noopener noreferer" target="_blank" href="https://www.whymaryfashion.com/">https://www.whymaryfashion.com/</a></p>
        <p>Instagram: <a rel="noopener noreferer" target="_blank" href="https://www.instagram.com/whymaryfashion/">https://www.instagram.com/whymaryfashion/</a></p>
      </div>
    </div>

  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
  .stockist img {
    max-width: 100%;
  }
</style>