<template>
  <div>
    <div class="banner"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <h1 class="mt-5">Shipping Information</h1>
          <p>Take a look at some common question and information related to shipping and shipping timeframes.
          <br><br>  
          Although we have been around for years, the recent COVID pandemic has forced us to explore new avenues for sales and reaching our wonderful customers. So here we are! We deliver worldwide and Australian customers can enjoy free shipping on all orders over $50.
          </p>
          <hr>
          <h2 class="mb-4">My parcel says delivered but it's not?</h2>
          <p>If your parcel says it’s delivered but seems to be missing, have a look around your property to see if it was hidden away out of sight. Check around entrances, including around the garage or any community mailboxes. You could also check with the people who live with you, and ask your neighbours if they didn't perhaps pick up the package for you. If the package is still not found, the carrier that delivered the parcel or local post office is the next best place to contact. If your parcel is still missing once you have contacted the carrier, please get in touch with us via the <NuxtLink to="/contact">contact page</NuxtLink> and we will help as much as is reasonably possible to trace a missing parcel. Please note we are not responsible for lost or stolen parcel so we will not be able to refund lost parcels and may not be able to send another parcel.</p>
          <hr>
          <h2 class="mb-4">Where to you ship to?</h2>
          <p>We ship worldwide!</p>
          <hr>
          <h2 class="mb-4">Will I need to pay customs?</h2>
          <p>All orders are currently shipped from Australia and customers will not be charged customs or import fees for orders received within Australia and New Zealand.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Shipping Information - piko made | Australian handmade accessories & jewellery',
    meta: [
      {
        hid: 'shipping-information',
        name: 'description',
        content: 'Piko made is an Australian-Japanese jewellery and accessories brand. Our products are shipped internationally from Australia.'
      }
    ],
  }
}
</script>


<style scoped>
h1 {
  margin-bottom: 30px;
}
.text {
  padding-right: 60px;
}
</style>