<template>
  <div class="container">
    <h1 class="my-5">Image Gallery</h1>
    <div class="masonry-with-columns">
      <img loading="lazy" @click="open_modal(image.node.transformedSrc)" v-for="(image, index) in images" :src="image.node.transformedSrc" :key="index" alt="Gallery image">
    </div>
    <modal :height="'90%'" :width="'90%'" :draggable="true" name="gallery" class="a-modal">
      <img :src="src" :alt="src">
    </modal>
  </div>
</template>

<script>
import { gql, headers } from '~/helpers/gql_partials'
export default {
  head: {
    title: 'Gallery - piko made | Australian handmade accessories & jewellery ',
    meta: [
      {
        hid: 'gallery',
        name: 'description',
        content: 'Piko made is an Australian-Japanese jewellery and accessories brand. These are a visual compilation of different designs. We are based on the Gold Coast and specialise in unique, handmade accessories.'
      }
    ],
  },
  data() {
    return {
      products: [],
      src: ""
    }
  },
  computed: {
    images() {
      let images = [];
      this.products.forEach(({node:product}) => {
        images = [...product.images.edges, ...images]
      });
      return images.slice().sort(() => Math.random() - 0.5);
    }
  },
  methods: {
    open_modal(src) {
      this.src = src;
      this.$modal.show('gallery')
    }
  },
  async asyncData() {
    return await fetch(gql, {
      method: "POST", 
      headers,
      body: `
        {
          products(first: 250) {
            edges {
              node {
                id
                title
                handle
                images(first: 4) {
                  edges {
                    node {
                      id
                      transformedSrc
                    }
                  }
                }
              }
            }
          }
        }
      `
    })
    .then(res => res.json())
    .then(json => {
      return {
        products: json.data.products.edges
      }
    })
  },
}
</script>

<style>
.masonry-with-columns {
  columns: 6 200px;
  column-gap: 1rem;
}
.masonry-with-columns img {
  width: 150px;
  background: #f9f9fea3;
  color: white;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.a-modal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>