<template>
  <div class="sidebar">
    <h4>Search</h4>
    <input type="text" class="form-control" placeholder="Search articles (coming soon)" disabled>
    <hr>
    <h4>Recent posts</h4>
    <div class="sidebar-post">
      <div v-for="(post, index) in sideposts" class="mb-3" :key="index"> 
        <RouterLink :to="`/blog/${post.handle}`" class="d-flex align-items-center">
          <img class="post-img" :src="post.featureImage.url" :alt="post.featureImage.fileName">
          <div>
            <p class="title">{{ post.title }}</p>
            <p>Read more <img src="/right-chevron.svg" alt="Arrow right"/></p>
          </div>
        </RouterLink>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: []
    }
  },
  computed: {
    sideposts() {
      return this.$store.state.blog.posts.slice(0, 3);
    }
  },
  mounted() {
    this.$store.dispatch("blog/get_posts");
  },
}
</script>

<style>

.sidebar {
  padding-left: 30px;

}

.sidebar .sidebar-post .title {
  font-weight: 500;
  color: #000;
}

hr {
  margin: 30px 0;
}

.sidebar h4 {
  margin-bottom: 20px;
}

.sidebar-post img.post-img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  object-fit: cover;
}

.sidebar-post a {
  text-decoration: none;
  color: #000;
}

.sidebar-post a img {
  height: 6px;
  width: 6px;
}

.sidebar p {
  font-size: 12px;
  margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
  .sidebar {
    padding-left: 0px;
    margin-bottom: 40px;
  }
}
</style>