<template>
  <div>
    <div :class="[cart_shown && 'active', 'overlay']" @click="close_cart()"></div>
    <div :class="[cart_shown ? 'active' : '', 'cart d-flex flex-column']">
      <div class="d-flex justify-content-between cart-header position-relative">
        <h3 class="mb-0">Your cart</h3>
        <button class="close btn" @click="close_cart()">×</button>
      </div>
      <div v-if="cart_items > 0 && cc === 'AU'" class="free-ship">
        <p class="mb-1">
          <span v-if="parseInt(cart.estimatedCost.totalAmount.amount) <= 50">Free shipping on Australian orders over $50</span>
          <span v-else>You qualify for free shipping!</span>
        </p>
        <div class="thresh">
          <div class="inner" :style="`width:${(parseInt(cart.estimatedCost.totalAmount.amount)/50)*100}%;`"></div>
        </div>
      </div>
      <div v-if="cart_items > 0" class="flex-fill px-3 items">
        <div v-for="({ node: item }, index) in cart.lines.edges" :key="index">
          <CartItem :item="item" :index="index" />
        </div>
      </div>
      <div v-else class="px-3 items flex-fill">
        <p class="mb-3 text-center">Your cart is empty!</p>
        <button @click="shop_now()" class="btn btn-secondary d-inline-block">Shop now</button>
      </div>
      <div v-if="cart_items > 0" class="p-3 cart-footer">
        <form @submit.prevent="add_code()">
          <div class="d-flex mb-3">
              <div class="form-field">
                <label for="discount">Discount code</label>
                <input id="discount" class="form-control" type="text" v-model="code">
                <img v-if="loading" src="/loading.svg" alt="loading icon">
              </div>
              <button type="submit" class="btn btn-secondary discount-btn">+</button>
          </div>
        </form>
        <p class="total-discount" v-if="discount_applied">You're saving <u>${{ total_discounts }}</u></p>
        <!-- <NuxtLink @click.native="close_cart()" class="btn btn-primary" to="/checkout">Check-it-out - ${{parseInt(cart.estimatedCost.totalAmount.amount).toFixed(2)}}</NuxtLink> -->
        <a @click.prevent="ga_checkout()" class="btn btn-primary" target="_blank">Checkout - ${{parseInt(cart.estimatedCost.totalAmount.amount).toFixed(2)}}</a>
        <button class="btn btn-secondary mt-2 mb-3" @click="close_cart()">Continue shopping</button>
        <PaymentIcons />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      code: "",
      loading: false
    }
  },
  computed: {
    cart_shown() {
      return this.$store.state.cart.shown;
    },
    cart_items() {
      return this.$store.getters["cart/items"];
    },
    cc() {
      return this.$store.getters["country_code"];
    },
    cart() {
      return this.$store.state.cart.cart;
    },
    discount_applied() {
      return this.cart.estimatedCost.subtotalAmount.amount > this.cart.estimatedCost.totalAmount.amount ? true : false;
    },
    total_discounts() {
      return (Number(this.cart.estimatedCost.subtotalAmount.amount) - Number(this.cart.estimatedCost.totalAmount.amount)).toFixed(2);
    }
  },
  methods: {
    close_cart() {
      this.$store.commit("cart/SET_SHOWN", false);
    },
    shop_now() {
      this.close_cart();
      this.$router.push("/products");
    },
    ga_checkout() {
      this.$ga.event('checkout', 'click', 'Checkout', parseInt(this.cart.estimatedCost.totalAmount.amount));
      window.location.href = this.cart.checkoutUrl;
    },
    async add_code() {
      if ( this.code.length > 1 ) {
        this.loading = true;
        await this.$store.dispatch("cart/apply_discount", this.code);
        this.loading = false;
      }
    }
  },
  mounted() {
    this.$store.dispatch("get_country");
    this.$store.dispatch("cart/create");
  }
};
</script>

<style scoped>
.discount-btn {
  width: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #ced4da;
  margin-left: -1px;
}
.total-discount {
  font-size: 12px;
  color: #3586ff;
  margin-bottom: 10px;
  margin-top: -10px;
}
form img {
  height: 14px;
  width: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-field {
  width: 100%;
}

input#discount {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00000063;
  transition: 0.3s;
  display: none;
  z-index: 99;
}
.cart {
  width: 100%;
  max-width: 420px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 9999;
  transition: transform 0.45s cubic-bezier(0.545, 0.045, 0.455, 1);
  border-left: 1px solid #f9f9fe;
  transform: translateX(101%);
  justify-content: space-between;
}
.cart.active {
  transform: translateX(0%);
}
.overlay.active {
  display: block;
}
.cart .close {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scale(1.5);
}
.cart-header {
  padding: 20px 15px;
  border-bottom: 1px solid #f9f9fe;
  margin-bottom: 20px;
}
.cart-footer {
  border-top: 1px solid #f9f9fe;
}

.free-ship {
  padding: 20px 15px;
  border-bottom: 1px solid #f9f9fe;
  margin-bottom: 20px;
  margin-top: -20px;
}

.free-ship .thresh {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  border: 1px solid #baeff4;
  overflow: hidden;
}

.free-ship .inner {
  width: 1%;
  height: 100%;
  background-color: #baeff4;
  border-radius: 10px;
  transition: 1s;
}


.form-field {
  position: relative;
}

.form-field label {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
  color: #666;
}

.form-field input {
  padding: 22px 10px 5px 10px;
  font-size: 14px;
}
</style>