<template>
  <div :class="[loading ? 'loading' : '', 'item', `item${index}`]">
    <img :src="item.merchandise.image.transformedSrc" :alt="item.merchandise.product.title" />
    <div class="item-desc">
      <p class="title">{{ item.merchandise.product.title }}</p>
      <p v-if="item.merchandise.title !== 'Default Title' && !gift_card" class="variant-title">{{ item.merchandise.title }}</p>
      <p class="price">${{ Number(item.estimatedCost.totalAmount.amount).toFixed(2) }}</p>
      <div v-if="item.quantity < item.merchandise.quantityAvailable && !gift_card" class="item-desc__qty">
        <div class="qty-container">
          <button @click="update_qty(item.id, item.quantity, false)">-</button> <input readonly :value="item.quantity"> <button @click="update_qty(item.id, item.quantity, true)">+</button>
        </div> 
        <button class="remove" @click="remove(item.id)">Remove</button>
      </div>
      <div v-else-if="item.quantity >= item.merchandise.quantityAvailable && !gift_card" class="max-stock d-flex justify-content-between">
        <p v-if="item.merchandise.quantityAvailable > 1">Only {{ item.merchandise.quantityAvailable }} available!</p>
        <p v-if="item.merchandise.quantityAvailable === 1">This is the last one!</p>
        <p v-if="item.merchandise.quantityAvailable === 0">We have 0 stock, your product will be made to order!</p>
        <button class="remove" @click="remove(item.id)">Remove</button>
      </div>
      <div v-else-if="gift_card" class="max-stock d-flex justify-content-between">
        <p>Digital Gift Card</p>
        <button class="remove" @click="remove(item.id)">Remove</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:["item", "index"],
  data() {
    return {
      loading: false
    }
  },
  computed: {
    gift_card() {
      return this.item.merchandise.product.title.includes('gift');
    }
  },
  methods: {
    async update_qty(id, qty, increment) {
      if ( increment ) {
        qty += 1;
      }
      else {
        qty -= 1;
        qty = qty < 0 ? 0 : qty;
      }
      this.loading = true;
      qty > 0 ? await this.$store.dispatch("cart/update", { id, qty }) : this.remove(id);
      this.loading = false;
    },
    async remove(id) {
      this.loading = true;
      await this.$store.dispatch("cart/remove", id);
      this.loading = false;
      if ( this.$store.getters["cart/items"] === 0 ) {
        this.$store.commit("cart/SET_SHOWN", false);
        this.$router.push("/products");
      }
    }
  }
}
</script>

<style>
.item.item0 {
  padding-top: 0;
}
.item {
  padding-top: 30px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.item.loading {
  opacity: 0.3;
}
.item img {
  display: block;
  width: 75px;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}
.item-desc {
  width: -webkit-fill-available;
  margin-left: 15px;
}
.title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
}
.price {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
}
.variant-title {
  font-size: 12px;
  margin: 0;
  margin-bottom: 2px;
}
.item-desc__qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.qty-container {
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}

.qty-container button {
  min-height: 20px;
  width: 30px;
  background: transparent;
  transition: 0.35s;
  border: none;
}

.qty-container input {
  width: 30px;
  background: transparent;
  border: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  font-size: 12px;
}

.remove {
  border: none;
  background: transparent;
  font-size: 12px;
  text-decoration: underline;
  transition: 0.3s;
}
.remove:hover {
  color: red;
}
.max-stock p {
  font-size: 12px;
  line-height: 14px;
  color: #3586ff;
  margin-bottom: 0;
}
</style>