<template>
  <div>
    <div class="container footer">
      <div class="row">
        <div class="col-lg-4 col-12 mb-5 mb-lg-0">
          <h4>Questions?</h4>
          <p>Need some help? We would love to assist! Whether it's finding your perfect product or tracking your order, we'd love to help you.</p>
          <NuxtLink to="/contact">Contact us</NuxtLink>
        </div>
        <div class="col-lg-4 col-12 mb-5 mb-lg-0 social">
          <h4>Social</h4>
          <p>Be the first to know about new arrivals, sales & promos.</p>
          <div class="d-flex align-items-center mb-3"> 
            <a href="https://instagram.com/piko_made" class="mr-2" target="_blank" title="Check out our instagram page!"><img style="height:30px" src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/instag.png?v=1630388777" alt="instagram logo"/></a> 
          </div>
          <div class="mt-3">
            <p class="mb-0">
              <label class="form-label mb-0" for="email">Subscribe to our mailing list for special discounts</label>
            </p>
            <SignupForm />
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="row">
            <div class="col-6">
              <h4>Shop</h4>
              <ul>
                <li>
                  <NuxtLink to="/products">All products</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="{path:'/products', query:{collection:'gift-cards'}}">Gift Cards</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="{path:'/products', query:{collection:'bracelets'}}">Bracelets</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="{path:'/products', query:{collection:'earrings'}}">Earrings</NuxtLink>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <h4>Support</h4>
              <ul>
                <li>
                  <NuxtLink to="/about">About</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/blog">Blog</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/contact">Contact</NuxtLink>
                </li>
                <li>
                  <NuxtLink to="/shipping">Shipping information</NuxtLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="footer-footer">
      © 2021  piko made. All Rights Reserved.
    </div>
  </div>
</template>

<style scoped>
.footer {
  margin-top: 80px;
  padding: 40px 15px;
  border-top: 1px solid #f9f9fe;
}
h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.social a {
  margin-right: 10px;
}
a {
  font-size: 14px;
  color: rgb(88, 89, 91);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.footer-footer {
  font-size: 12px;
  background-color: #f9f9fe;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 991px) {
  .footer {
    margin-top: 60px;
  }
}
</style>