<template>
  <div class="hero-wrap container">
    <VueSlickCarousel :speed="1000" :slidesToShow="1" :arrows="false" :dots="true" :autoplay="true" :autoplaySpeed="5000">
      <div class="hero slide2">
        <div class="cta p-4">
          <h2>Beach inspired collection</h2>
          <p>Take a look at our unique beach collection.</p>
          <NuxtLink class="btn btn-primary" :to="{path:'/products', query:{collection:'life-is-a-beach'}}">Shop beach collection</NuxtLink>
        </div>
      </div>
      <div class="hero slide1">
        <div class="cta p-4">
          <h2>Up to 15% off Digital Gift Cards</h2>
          <p>A good incentive to buy our digital gift cards. Buy for yourself or gift it to a friend or family member.</p>
          <NuxtLink class="btn btn-primary" :to="{path:'/products', query:{collection:'gift-cards'}}">Shop gift cards</NuxtLink>
        </div>
      </div>
      <div class="hero slide3">
        <div class="cta p-4">
          <h2>Jaded Orange Bracelet</h2>
          <p>A beautiful, one-of-a-kind, piece that's simply timeless.</p>
          <NuxtLink class="btn btn-primary" to="/products/piko-jaded-orange-bracelet">Take a look</NuxtLink>
        </div>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';
export default {
  components: { VueSlickCarousel },
}
</script>

<style scoped>
.hero-wrap {
  margin-bottom: 60px;
}
.hero {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.slide1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210822_202711.jpg?v=1629714857");
}
.slide2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210827_120644.jpg?v=1630218178");
}
.slide3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210827_123236.jpg?v=1630218633");
}
.hero .cta {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);  
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 9px 0px;
}

.hero .btn {
  width: auto;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 991px) {
  .hero .cta {
    width: 90%;
    left: 50%;
    transform: translateY(0) translateX(-50%); 
    top: 20px;
  }
  .hero {
    height: 500px;
    background-size: cover;
    background-position: center center;
  }
  .hero.slide1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/piko_accessories_hero_image.jpg?v=1631097228");
  }
  .hero-wrap {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
  }
}
</style>