<template>
  <div class="navigation">
    <div class="hello text-center">
      <VueSlickCarousel :fade="true" :speed="500" :slidesToShow="1" :arrows="false" :dots="false" :autoplay="true">
        <span><u>Free standard shipping on all Australian orders over $50!</u></span>
        <span><u>New products weekly!</u></span>
        <span><NuxtLink to="/products/piko-made-gift-card"><b>Up to 15% off gift cards!</b></NuxtLink></span>
      </VueSlickCarousel>
    </div>
    <div class="menu">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-3 d-lg-none">
            <div @click="toggle(); search_open=false;" id="nav-icon3" :class="[menu_open && 'open']">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="col-lg-4 col-6 logo">
            <NuxtLink to="/" @click.native="search_open = false;">
              <img src="//cdn.shopify.com/s/files/1/0595/2841/3376/files/piko-logo.png?v=1629591880" alt="Piko Logo">
            </NuxtLink>
          </div>
          <div class="col-3 col-lg-8 mobile-hide">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-none d-lg-block home">
                <img src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/flag-round-250.png?v=1630474313" alt="Aus flag">
                <NuxtLink to="/" @click.native="search_open=false;show_products=false;">Home</NuxtLink>
              </div>
              <div class="d-none d-lg-block">
                <a href="/products" @click.prevent="search_open=false;toggle_products()">Products</a>
              </div>
              <div class="d-none d-lg-block">
                <NuxtLink to="/blog" @click.native="search_open=false;show_products=false;">Blog</NuxtLink>
              </div>
              <div class="d-none d-lg-block">
                <NuxtLink to="/about" @click.native="search_open=false;show_products=false;">About</NuxtLink>
              </div>
              <div class="d-none d-lg-block">
                <NuxtLink to="/gallery" @click.native="search_open=false;show_products=false;">Gallery</NuxtLink>
              </div>
              <div class="d-none d-lg-block">
                <NuxtLink to="/contact" @click.native="search_open=false;show_products=false;">Contact</NuxtLink>
              </div>
              <div class="d-none d-lg-block">
                <NuxtLink to="/stockists" @click.native="search_open=false;show_products=false;">Stockists</NuxtLink>
              </div>
              <div class="d-none d-lg-block">
                <button class="btn p-0" @click.prevent="focus_input()">
                  <img style="height:16px" src="/search.svg" alt="search">
                </button>
              </div>
              <div>
                <button @click="open_cart();search_open = false;" class="cart-btn btn">
                  <span v-if="cart_items > 0">{{ cart_items }}</span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.7999 16.32H6.23988C6.09588 16.32 5.95188 16.224 5.85588 16.128C5.75988 16.032 5.75988 15.84 5.80788 15.696L6.71988 13.392L5.80788 4.8H2.87988V3.84H6.23988C6.47988 3.84 6.67188 4.032 6.71988 4.272L7.67988 13.392C7.67988 13.488 7.67988 13.536 7.63188 13.632L6.95988 15.36H17.2799L16.7999 16.32Z" fill="#222222"></path> <path d="M7.29621 13.92L7.10421 12.96L18.2402 10.656V6.72001H6.72021V5.76001H18.7202C19.0082 5.76001 19.2002 5.95201 19.2002 6.24001V11.04C19.2002 11.28 19.0562 11.472 18.8162 11.52L7.29621 13.92Z" fill="#222222"></path> <path d="M17.2799 19.2C16.2239 19.2 15.3599 18.336 15.3599 17.28C15.3599 16.224 16.2239 15.36 17.2799 15.36C18.3359 15.36 19.1999 16.224 19.1999 17.28C19.1999 18.336 18.3359 19.2 17.2799 19.2ZM17.2799 16.32C16.7519 16.32 16.3199 16.752 16.3199 17.28C16.3199 17.808 16.7519 18.24 17.2799 18.24C17.8079 18.24 18.2399 17.808 18.2399 17.28C18.2399 16.752 17.8079 16.32 17.2799 16.32Z" fill="#222222"></path> <path d="M5.75984 19.2C4.70384 19.2 3.83984 18.336 3.83984 17.28C3.83984 16.224 4.70384 15.36 5.75984 15.36C6.81584 15.36 7.67984 16.224 7.67984 17.28C7.67984 18.336 6.81584 19.2 5.75984 19.2ZM5.75984 16.32C5.23184 16.32 4.79984 16.752 4.79984 17.28C4.79984 17.808 5.23184 18.24 5.75984 18.24C6.28784 18.24 6.71984 17.808 6.71984 17.28C6.71984 16.752 6.28784 16.32 5.75984 16.32Z" fill="#222222"></path></svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-show="show_products" class="products-mega">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-7">
            <div class="d-flex">
              <div style="padding-right:60px">
                <h4>Categories</h4>
                <ul>
                  <li v-for="({node:category}, index) in categories" :key="index">
                    <NuxtLink @click.native="search_open=false;show_products=false;" :to="`/products?collection=${category.handle}`" class="mega-link">{{ category.title }} <img src="/right-chevron.svg" alt="Right arrow"></NuxtLink>
                  </li>
                </ul>
              </div>
              <div class="">
                <h4>We recommend</h4>
                <ul>
                  <li v-for="({node:product}, index) in products" :key="index">
                    <NuxtLink @click.native="search_open=false;show_products=false;" :to="`/products/${product.handle}`" class="mega-link">{{ product.title }} <img src="/right-chevron.svg" alt="Right arrow"></NuxtLink>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-5">
            <VueSlickCarousel :fade="true" :speed="500" :slidesToShow="1" :arrows="false" :dots="false" :autoplay="true">
              <div v-for="({node:product}, index) in products" :key="index">
                <NuxtLink @click.native="search_open=false;show_products=false;" :to="`/products/${product.handle}`">
                  <img class="w-100" :src="product.images.edges[0].node.transformedSrc" :alt="product.title">
                  <p class="text-center">{{product.title}} - <span v-if="product.variants.edges.length > 1">From</span> {{ money(product.fromPrice) }}</p>
                </NuxtLink>
              </div>
            </VueSlickCarousel>
          </div>
        </div>
      </div>
    </div>

    <div :class="[menu_open && 'open', 'mobile-menu']">
      <div class="container">
        <ul>
          <li>
            <NuxtLink @click.native="toggle()" to="/products">Products</NuxtLink>
          </li>
          <li>
            <NuxtLink @click.native="toggle()" to="/blog">Blog</NuxtLink>
          </li>
          <li>
            <NuxtLink @click.native="toggle()" to="/about">About</NuxtLink>
          </li>
          <li>
            <NuxtLink @click.native="toggle()" to="/gallery">Gallery</NuxtLink>
          </li>
          <li>
            <NuxtLink @click.native="toggle()" to="/contact">Contact</NuxtLink>
          </li>
          <li>
            <NuxtLink @click.native="toggle()" to="/stockists">Stockists</NuxtLink>
          </li>
          <li>
            <a href="#" @click.prevent="focus_input()">
              <img style="height:10px" src="/search.svg" alt="search"> Search 
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div v-show="search_open" class="search px-3 py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-12">
            <div class="d-flex align-items-center mb-3">
              <input ref="searchinput" placeholder="Search..." class="form-control" type="text" @keyup="perform_search($event)">
              <a style="margin-left: 10px;" href="#" @click.prevent="search_open=false;">Close</a>
            </div>
            <div class="results" v-if="search.results.length > 0">
              <div v-for="({node:result}, index) in search.results" class="result" :key="index">
                <NuxtLink :to="`/products/${result.handle}`" @click.native="search_open=false;menu_open=false">
                  <div class="d-flex align-items-center">
                    <img :src="result.images.edges[0].node.transformedSrc" :alt="result.title">
                    <div class="title-wrap">
                      <h4 class="title mb-0">{{ result.title }}</h4>
                      <p class="price">${{ result.fromPrice }}</p>
                    </div>
                  </div>
                </NuxtLink>
                <hr v-if="index !== search.results.length-1">
              </div>
            </div>
            <div v-else-if="search.results.length === 0 && typing">
              <p class="mb-0">Searching... <img style="height: 16px;" src="/loading.svg" alt="Searching" /></p>
            </div>
            <div v-else>
              <p class="mb-0">No results!</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div :class="[(menu_open || search_open || show_products) && 'open', 'overlay']" @click="menu_open=false;search_open=false;"></div>

  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';
export default {
  components: { VueSlickCarousel },
  data() {
    return {
      menu_open: false,
      search_open: false,
      typing: false,
      timer: null,
      show_products: false,
      products: [],
      search: {
        term: "",
        results: []
      }
    }
  },
  watch: {
    search_open(val) {
      if ( val === false ) {
        this.search.term = "";
        this.search.results = [];
        this.$refs.searchinput.value = '';
      }
    }
  },
  computed: {
    cart_items() {
      return this.$store.getters["cart/items"]
    },
    categories() {
      return this.$store.state.collections.slice(0, 5);
    }
  },
  methods: {
    open_cart() {
      this.$store.commit("cart/SET_SHOWN", true);
    },
    money(val) {
      return `$${parseFloat(val).toFixed(2)} ${this.$store.state.store.currencyCode}`;
    },
    focus_input() {
      this.search_open = true;
      this.$nextTick(() => {
        this.$refs.searchinput.focus();
      });
    },
    toggle() {
      this.menu_open = !this.menu_open;
    },
    toggle_products() {
      this.show_products = !this.show_products;
    },
    async perform_search(e) {
      const term = e.target.value;
      if ( term.length > 3 ) this.typing = true;
      clearTimeout(this.timer);
      this.timer = setTimeout(async() => {
        if ( !term.length > 3 ) return;
        const res = await this.$store.dispatch("search/perform", term);
        this.typing = false;
        this.search.results = res;
      }, 1000);
    }
  },
  async fetch() {
    const res = await this.$store.dispatch("collection_by_handle", { handle: "best-sellers", cursor: null, position: null });
    this.products = !res.success ? [] : res.products.slice(0, 5);
  }
}
</script>

<style scoped>

.products-mega {
  padding: 45px 0;
  border-bottom: 1px solid #f9f9fe;
  background-color: #fff;
}

.products-mega h4 {
  margin-bottom: 30px;
}

.products-mega ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-mega li {
  margin-bottom: 10px;
}

.products-mega ul li a {
  color: #000;
  text-decoration: none;
}

.products-mega ul li a img {
  height: 10px;
  margin-left: 10px;
}

.products-mega img {
  background-color: rgba(239,239,239,0.45882);
  margin-bottom: 5px;
}

.products-mega p {
  margin: 0;
}

.overlay {
  background: #00000059;
  height: 110%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  display: none;
}

.overlay.open {
  display: block;
}

.menu {
  background-color: #fff;
}

.search {
  border-bottom: 1px solid #f9f9fe;
  background-color: #fff;
}

.result img {
  width: 85px;
  height: 75px;
  object-fit: cover;
}

.title-wrap {
  padding-left: 15px;
}

.mobile-menu.open {
  display: block;
}

.mobile-menu {
  background-color: #fff;
  margin-top: -10px;
  border-bottom: 1px solid #f9f9fe;
  transition: 0.5s;
  display: none;
}

.mobile-menu ul {
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.mobile-menu ul li a {
  display: block;
  padding: 10px 15px 10px 0;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 6;
  background: #fff;
}

.navigation .menu {
  padding: 15px 0;
  border-bottom: 1px solid #f9f9fe;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
}
.hello {
  background: #baeff4;
  padding: 12px 0;
  width: 100%;
  font-size: 14px;
}
.logo {
  text-align: left;
}
.logo img {
  height: 40px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}

.cart-btn {
  position: relative;
}

.nuxt-link-exact-active {
  text-decoration: underline;
}

.cart-btn span {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.home {
  position: relative;
}

.home img {
  height: 20px;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  filter: blur(0);
  image-rendering: -webkit-optimize-contrast;
}

.results {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


@media screen and (max-width: 991px) {
  .logo {
    text-align: center;
  }
  .logo img {
    height: 32px;
    filter: blur(0);
    image-rendering: -webkit-optimize-contrast;
  }
  .cart-btn span {
    left: auto;
    right: 0;
  }
  .cart-btn svg {
    height: 28px;
    width: 28px;
  }
  .mobile-hide {
    display: flex;
    justify-content: flex-end;
  }
  .hello {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation .menu {
    padding: 8px 0;
  }
  .results {
    max-height: 300px;
  }
}





#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}



/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

</style>
