<template>
  <div class="container" v-if="products.length > 0">
    <div class="d-flex justify-content-between mb-4 align-items-end">
      <h2 class="mb-0">Recommendations</h2>
      <NuxtLink :to="{path:'/products', query:{collection:'best-sellers'}}" class="text-nowrap">Shop all<img src="/right-chevron.svg" alt="" style="height:10px;margin-left:10px"></NuxtLink>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3 best-seller" v-for="{ node:product } in products" :key="product.id">
        <ProductCard :view="'grid'" :product="product" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: []
    }
  },
  methods: {
    async get_products(handle) {
      this.loading = true;
      const collection = await this.$store.dispatch("collection_by_handle", {handle, cursor: null});
      this.loading = false;
      this.products = !collection.success ? [] : collection.products.slice(0, 4);
    }
  },
  mounted() {
    this.get_products("best-sellers")
  }
};
</script>

<style scoped>
h2 + a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
@media screen and (max-width: 991px) {
  .best-seller:nth-child(1), .best-seller:nth-child(2){
    margin-bottom: 40px !important;
  }
}
</style>