<template>
  <div class="ap_logos d-flex justify-content-center">
    <img src="//cdn.shopify.com/s/files/1/0140/5953/6438/files/PayPal_512x.png?v=1626323214" alt="Paypal"> <img src="//cdn.shopify.com/s/files/1/0140/5953/6438/files/Visa_512x.png?v=1626323214" alt="Visa"> <img src="//cdn.shopify.com/s/files/1/0140/5953/6438/files/MasterCard_512x.png?v=1626323214" alt="Mastercard"> <img src="//cdn.shopify.com/s/files/1/0140/5953/6438/files/American_Express_512x.png?v=1626323214" alt="American Express"> <img src="//cdn.shopify.com/s/files/1/0140/5953/6438/files/Apple_Pay_512x.png?v=1626323214" alt="Apple Pay"> <img src="//cdn.shopify.com/s/files/1/0140/5953/6438/files/Google_Pay_512x.png?v=1626323214" alt="Google Pay">
  </div>
</template>

<style scoped>
.ap_logos img {
  max-width: 30px;
  image-rendering: -webkit-optimize-contrast;
  margin: 0 5px;
}
</style>