<template>
  <div>
    <div v-if="reviews.length > 0" class="reviews-badge">
      <span v-for="(n, index) in $store.state.reviews.rating" :key="index">
        <img class="star" src="/star.svg" alt="Rating star">
      </span>
      <span style="font-size:12px;">{{ reviews.length }} review/s</span>
    </div>
    <div v-else class="reviews-badge">
      <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
      <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
      <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
      <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
      <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
      <span style="font-size:12px;">0 reviews</span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product"],
  computed: {
    reviews() {
      return this.$store.state.reviews.data.filter(review => review.productSKU === this.product.handle);
    }
  }
};
</script>

<style>
.reviews-badge {
  margin-bottom: 15px;
  margin-top: -10px;
}
.star {
  height: 16px;
  width: 16px;
  margin-right: 3px;
}
</style>