<template>
  <div :class="[loading && 'loading', 'product']">
    <div :class="[view==='row' ? 'd-flex view-row' : '']">
      <div class="left-col">
        <NuxtLink :to="`/products/${product.handle}`">
          <div class="img mb-3 mb-lg-4">
            <span v-if="product.totalInventory === 1">Last one!</span>
            <span v-if="product.totalInventory === 0 && product.productType !=='Gift Card'" style="background:#ff6363;">Sold out!</span>
            <span class="max-discount" v-if="product.maxDiscount > 0">Up to {{product.maxDiscount}}% off!</span>
            <img
              loading="lazy"
              v-if="product.images.edges[0]"
              :src="product.images.edges[0].node.transformedSrc"
              :alt="product.title"
            />
            <img
              v-else
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/placeholder.jpg?v=1630536162"
            />
          </div>
        </NuxtLink>
      </div>
      <div class="right-col">
        <NuxtLink :to="`/products/${product.handle}`">
          <h4 class="mb-2 mb-lg-3">{{ product.title }}</h4>
          <!-- <div v-if="reviews.length > 0" class="reviews-badge">
            <span v-for="(n, index) in $store.state.reviews.rating" :key="index">
              <img class="star" src="/star.svg" alt="Rating star">
            </span>
            <span style="font-size:12px;">{{ reviews.length }} review/s</span>
          </div>
          <div v-else class="reviews-badge">
            <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
            <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
            <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
            <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
            <span><img class="star" src="/star-empty.svg" alt="Rating star"></span>
            <span style="font-size:12px;">0 reviews</span>
          </div> -->
          <p class="mb-2 mb-lg-3">
            <span v-if="product.variants.edges.length > 1">From</span>
            {{ money(product.fromPrice) }}
          </p>
          <p v-if="view === 'row'" class="desc d-none d-lg-block">{{ product.short_desc }}</p>
        </NuxtLink>
        <div class="d-flex">
          <NuxtLink :to="`/products/${product.handle}`" v-if="product.availableForSale" class="btn btn-primary">
            View product <img alt="" src="/right-chevron.svg" />
          </NuxtLink>
          <NuxtLink :to="`/products/${product.handle}`" v-else disabled class="btn btn-primary">Out of stock!</NuxtLink>
          <button @click="add(product.variants.edges[0].node.id)" v-if="product.availableForSale" :class="[view==='row' && 'd-none d-lg-block', 'btn btn-secondary quick-add']" title="Quick add"><span>+</span></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product", "loading", "view"],
  computed: {
    reviews() {
      return this.$store.state.reviews.data.filter(review => review.productSKU === this.product.handle);
    }
  },
  methods: {
    money(val) {
      return `$${parseFloat(val).toFixed(2)} ${
        this.$store.state.store.currencyCode
      }`;
    },
    async add(id) {
      await this.$store.dispatch("cart/add", id);
    }
  }
};
</script>

<style scoped>
.img {
  background-color: #f9f9fe7a;
  display: block;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.left-col a:hover .img img {
  transform: scale(1.1);
}

.star {
  height: 16px;
  width: 16px;
  margin-right: 3px;
}

.btn {
  padding: 6px 10px;
}

.btn.btn-primary {
  color: #fff;
}

.btn.btn-secondary:hover {
  background-color: #fff;
  color: #000 !important;
}

.view-row .right-col {
  width: 50%;
  padding-left: 20px;
}

.view-row .right-col .btn {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.view-row .right-col .btn.quick-add {
  padding-left: 15px;
  padding-right: 15px;
}

.view-row .left-col {
  width: 40%;
}

.view-row .left-col img {
  height: 300px;
}

.btn.btn-secondary span {
  transition: 0.7s ease;
}

.btn.btn-secondary:hover span {
  transform: rotate(270deg) scale(1.8);
}

.btn img {
  filter: invert(100%);
}

.quick-add {
  width: 45px;
  margin-left: 5px;
}

.img span {
  position: absolute;
  font-size: 13px;
  background-color: #56adb5;
  color: #fff;
  padding: 1px 4px;
  transform: rotate(-33deg);
  left: -40px;
  top: 14px;
  width: 140px;
  text-align: center;
  line-height: 14px;
}

.img .max-discount {
  background-color: #f26430;
  color: #fff;
  transform: none;
  left: 0;
  bottom: 0;
  padding: 3px 4px;
  top: auto;
}

.img img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  transition: 0.5s ease;
}
a {
  text-decoration: none;
  color: black;
}
.reviews-badge {
  margin-bottom: 5px;
  margin-top: -2px;
}
h4,
p,
.btn,
.img,
.reviews-badge {
  position: relative;
}
h4:after,
.img:after,
p:after,
.btn:after,
.reviews-badge:after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  display: none;
}

.product.loading h4:after,
.product.loading .img:after,
.product.loading p:after,
.product.loading .btn:after,
.product.loading .btn,
.product.loading .reviews-badge:after {
  display: block;
  border: none;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media screen and (max-width: 991px) {
  .img img {
    height: 145px;
    width: 100%;
  }

  .view-row .left-col img {
    height: 145px;
  }
}
</style>