<template>
  <div></div>
</template>

<script>
export default {
  props: ["product", "product_reviews"],
  computed: {
    reviews() {
      return this.$store.state.reviews
    }
  },
  head() {
    return {
      script: [
        { 
          type: 'application/ld+json', 
          json: {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": this.product.title,
            "image": [
              this.product.images.edges[0].node.transformedSrc
            ],
            "description": this.product.description,
            "sku": this.product.variants.edges[0].node.sku,
            "brand": {
              "@type": "Brand",
              "name": "piko-made"
            },
            "aggregateRating": {
              "@type": "AggregateRating",
              "ratingValue": this.reviews.rating.toString(),
              "reviewCount": this.product_reviews.length.toString()
            },
            "offers": {
              "@type": "Offer",
              "url": `https://pikomade.com/products/${this.product.handle}`,
              "priceCurrency": "AUD",
              "price": this.product.fromPrice,
              "priceValidUntil": new Date().toISOString().split('T')[0],
              "itemCondition": "https://schema.org/NewCondition",
              "availability": "https://schema.org/InStock"
            }
          }
        }
      ]
    }
  },
  async asyncData(context) {
    // Pre-fetch and return recipe data server-side.
  }
}
</script>