<template>
  <div>
    <form ref="form" class="d-flex signup" @submit="submit($event)">
      <input v-model="email" class="form-control" id="email" type="text" placeholder="email" />
      <input type="hidden" v-model="jar">
      <button type="submit" :disabled="loading" class="btn btn-secondary">
        <span v-if="!loading">Submit</span>
        <span v-else>Sending...</span>
      </button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      loading: false,
      jar: "1234edvc"
    }
  },
  methods: {
    async submit(e) {
      e.preventDefault();
      if ( this.email === "" || this.jar !== "1234edvc" ) {
        alert("Please enter an email address");
        return;
      }
      this.loading = true;
      const res = await fetch(`https://ap-southeast-2.aws.webhooks.mongodb-realm.com/api/client/v2.0/app/piko-made-jbnjo/service/HTTP/incoming_webhook/mailchimp_subscribe`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          email: this.email
        })
      })
      .then(res => res.json())
      this.loading = false;
      if ( res.success ) {
        this.email = "";
        alert("Thanks for subscribing!");
      }
    }
  }
}
</script>

<style>
.signup button {
  width: auto;
  margin-left: -1px;
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.signup input {
  border-radius: 0;
  border-color: #000;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
</style>