@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap');

body, html {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 26px;
    line-height: 32px;
}

h3 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 22px;
    line-height: 28px;
}

h4 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 18px;
    line-height: 24px;
}

p, li, table, td, tr, th {
    color: rgb(88, 89, 91);
    font-size: 14px;
    line-height: 24px;
}

th {
    color: #000;
}

strong, b {
    color: #000;
}

hr {
    border-color: #666;
    color: #666;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 25px;
        line-height: 30px;
    }
    h2 {
        font-size: 22px;
        line-height: 28px;
    }
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    h4 {
        font-size: 16px;
        line-height: 20px;
    }
}

.product .stamped-badge {
    margin-top: -10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    width: 100%;
    border-radius: 6px;
}

.btn img {
    height: 10px;
    margin-left: 10px;
}

.btn-primary {
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    background-color: #000;
    border-color: #000;
}

.btn-secondary {
    background-color: transparent;
    color: #000 !important;
    border-color: #000;
}

.btn-secondary:hover {
    background-color: rgb(56, 56, 56);
    color: #fff !important;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    background-color: transparent;
    border-color: #565e64;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}


.btn-primary.disabled, .btn-primary:disabled {
    background-color: #000;
    border-color: #000;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: transparent;
    border-color: #000;
}

@media screen and (max-width: 991px) {
    .btn {
        padding: 8px 5px;
    }
    .product .stamped-badge {
        margin-top: -5px;
    }
}