<template>
  <div>
    <div class="container mt-4">
      <h1>Checkout</h1>
      <NuxtLink to="/">Go back</NuxtLink>
      <form>
        <div class="form-field mb-3">
          <label for="name">Name</label>
          <input id="name" class="form-control" type="text">
        </div>
        <div class="form-field mb-3">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text">
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  layout: "checkout"
}
</script>

<style>
form {
  margin-top: 20px;
}

.form-field {
  position: relative;
}

.form-field label {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
  color: #666;
}

.form-field input {
  padding: 22px 10px 5px 10px;
  font-size: 14px;
}
</style>