<template>
  <div>
    <div class="banner" ref="banner"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12 cols">
          <h3 class="mb-4">Categories</h3>
          <ul>
            <li v-for="{node:collection} in collections" :key="collection.id" :class="[selected_collection === collection.handle ? 'selected' : '', 'category']">
              <span @click="get_products(collection.handle)">{{ collection.title }}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 col-12 prods">
          <div class="row mb-4">
            <div class="col-12 view-type">
              <a href="#" @click.prevent="view_type='grid'" :class="[view_type==='grid' && 'selected']"><img class="grid-icon" src="/grid.svg" alt="Grid view"/>Grid view</a> <span class="mx-1">|</span> <a href="#" @click.prevent="view_type='row'" :class="[view_type==='row' && 'selected']"><img class="grid-icon" src="/row.svg" alt="Row view"/>Row view</a>
            </div>
          </div>
          <div v-if="collection_products.length > 0" class="row">
            <div :class="[view_type === 'grid' ? 'col-6 col-lg-4 mb-lg-5 mb-4' : 'col-12 mb-4']" v-for="{ node:product } in collection_products" :key="product.id">
              <ProductCard :view="view_type" :product="product" :loading="loading" />
            </div>  
            <div class="col-12">
              <div class="paginate">
                <a href="#" class="mx-2" style="float: left;" v-show="page_info.hasPreviousPage" @click.prevent="prev_page()"><img style="transform:rotate(180deg)" src="/right-chevron.svg" alt=""/> Previous page</a>
                <a href="#" class="mx-2" style="float: right;" v-show="page_info.hasNextPage" @click.prevent="next_page()">Next page <img src="/right-chevron.svg" alt=""/></a>
              </div>
            </div>
          </div>
          <div v-else-if="fetching_products" class="row">
            <div class="col-12">
              <p>Fetching products... <img style="height: 20px;" src="/loading.svg" alt="loading icon"> </p>
            </div>
          </div>
          <div class="row" v-else>
            <div class="col-12">
              <p>There's nothing in this category!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Products - piko made | Australian handmade accessories & jewellery ',
    meta: [
      {
        hid: 'products',
        name: 'description',
        content: 'Piko made is an Australian-Japanese jewellery and accessories brand. Take a look at our range of products.'
      }
    ],
  },
  data() {
    return {
      view_type: "grid",
      collection_products: [],
      selected_collection: {},
      loading: false,
      fetching_products: false
    }
  },
  computed: {
    products() {
      return this.$store.state.products;
    },
    collections() {
      return this.$store.state.collections;
    },
    page_info() {
      return this.$store.state.collections_page_info;
    }
  },
  methods: {
    async get_products(handle, cursor=null, position=null) {
      this.loading = true;
      const collection = await this.$store.dispatch("collection_by_handle", {handle, cursor, position});
      this.loading = false;
      this.collection_products = collection.products;
      this.selected_collection = handle;
      this.scroll_top();
      this.$router.push({path: "/products", query: {collection: handle}});
    },
    next_page() {
      const { cursor } = this.collection_products[this.collection_products.length -1];
      this.get_products(this.selected_collection, cursor, "after");
    },
    prev_page() {
      const { cursor } = this.collection_products[0];
      this.get_products(this.selected_collection, cursor, "before");
    },
    scroll_top() {
      const top = this.$refs["banner"].offsetHeight;
      window.scrollTo({top});
    }
  },
  async mounted() {
    this.fetching_products = true;
    if ( this.$route.query.collection ) {
      await this.get_products(this.$route.query.collection, null)  
    }
    else {
      await this.get_products(this.collections[0].node.handle, null)  
    }
    this.fetching_products = false;
  }
};
</script>

<style scoped>
.banner {
  margin-bottom: 60px;
  width: 100%;
  height: 400px;
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210827_120211.jpg?v=1630218297");
  background-size: cover;
  background-position: center center;
}
ul {
  list-style: none;
  padding: 0;
}

.view-type a.selected {
  text-decoration: none;
}

.view-type {
  color: #666666;
}
.view-type a {
  font-size: 14px;
  color: #000;
}
img.grid-icon, img.row-icon {
  height: 18px;
  margin-right: 4px;
  margin-bottom: 2px;
}

.paginate a {
  font-size: 14px;
  color: rgb(88, 89, 91);
}

.paginate a img {
  height: 10px;
}

.cols {
  border-right: 1px solid #f9f9fe;
}

@media screen and (min-width: 991px) {
  .prods {
    padding-left: 60px;
  }
}

li {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 16px;
}

li span {
  cursor: pointer;
}

li.selected {
  font-weight: bold;
  color: #000;
}

li span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #f9f9fe;
    font-size: 14px;
    margin-bottom: 5px;
  }
  ul li:last-child {
    border-right: none;
  }
  ul {
    margin-left: -10px;
  }
  .cols {
    border: none;
  }
  .banner {
    height: 200px;
    margin-bottom: 40px;
  }
  .view-type a {
    font-size: 14px;
    color: #666666;
  }
}
</style>