<template>
  <div>
    <Nav />
    <Cart />
    <Nuxt class="nuxt-body" />
    <Footer />
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.nuxt-body {
  padding-top: 130px;
}
@media screen and (max-width: 991px) {
  .nuxt-body {
    padding-top: 103px;
  }
}
</style>