<template>
  <div class="container">
    <h1 class="pt-5" v-if="error.statusCode === 404">Page not found</h1>
    <h1 class="pt-5" v-else>Whoops, an error occurred! 404</h1>
    <NuxtLink to="/">Home page</NuxtLink>
    <br>
    <NuxtLink to="/products">Shop Products</NuxtLink>
  </div>
</template>

<script>
export default {
  props: ['error'],
}
</script>