<template>
  <div>
    <div class="banner"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <h1>About</h1>
          <p>Piko made is an Australian-Japanese jewellery and accessories brand. With a team of two and based in the beautiful Gold Coast Hinterland, we are focused on quality and unique antiquity.
          <br><br>  
          Although we have been around for years, the recent COVID pandemic has forced us to explore new avenues for sales and reaching our wonderful customers. So here we are! We deliver worldwide and Australian customers can enjoy free shipping on all orders over $50.
          <br><br>  
          Beautiful and unique designs mean everything to us, so all accessories are unique and no two are alike. If you decide to buy from us (and we hope you will), you can rest assured, your accessory piece will be one-of-a-kind!
          <br><br>  
          If you'd prefer to say hello or buy from us in-person, we are at Carrara Markets on the Gold Coast every Sunday from 6am. Say hello, if you're in the area! <a target="_blank" href="https://www.carraramarkets.com.au/car-boot-sundays">Their website is here</a>, with all of the details.
          <br><br>  
          If you want to talk or have a specific enquiry, just head over to the <NuxtLink to="/contact">contact page</NuxtLink> and fire away! We'd love to hear from you :)
          <br><br>  
          Thanks!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'About - piko made | Australian handmade accessories & jewellery ',
    meta: [
      {
        hid: 'about',
        name: 'description',
        content: 'Piko made is an Australian-Japanese jewellery and accessories brand. With a team of two and based in the beautiful Gold Coast Hinterland, we are focused on quality and unique antiquity.'
      }
    ],
  }
}
</script>


<style scoped>
.banner {
  margin-bottom: 60px;
  width: 100%;
  height: 400px;
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210827_121250.jpg?v=1630151119");
  background-size: cover;
  background-position: center center;
}
h1 {
  margin-bottom: 30px;
}

.text {
  padding-right: 60px;
}
@media screen and (max-width: 991px) {
  .banner {
    height: 200px;
    margin-bottom: 40px;
  }
}
</style>