<template>
  <div>
    <div class="container blog">
      <h1 class="mb-5">The piko blog</h1>
      <div class="row justify-content-between">
        <div class="col-lg-8">
          <div class="row mb-4">
            <div class="col-12 view-type">
              <a href="#" @click.prevent="view_type='grid'" :class="[view_type==='grid' && 'selected']"><img class="grid-icon" src="/grid.svg" alt="Grid view"/>Grid view</a> <span class="mx-1">|</span> <a href="#" @click.prevent="view_type='row'" :class="[view_type==='row' && 'selected']"><img class="grid-icon" src="/row.svg" alt="Row view"/>Row view</a>
            </div>
          </div>
          <div class="row">
            <div v-for="(post, index) in posts" :key="index" :class="[view_type === 'row' ? 'col-12 row-view' : 'col-6 col-lg-4 grid-view', 'post']">
              <RouterLink :to="`/blog/${post.handle}`">
                <img class="post-img" :src="post.featureImage.url" :alt="post.featureImage.fileName">
              </RouterLink>
              <div class="post-content">
                <RouterLink :to="`/blog/${post.handle}`">
                  <h3>{{ post.title }}</h3>
                  <p>{{ new Date(post.publishDate).toDateString() }}</p>
                  <p class="d-none d-lg-block">{{ post.shortDescription }}</p>
                  <p>Read more <img src="/right-chevron.svg" alt="Arrow right"/></p>
                </RouterLink>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <BlogSidebar />
        </div>
      </div>
      <OurRecommendations class="best-sellers" />
    </div>
  </div>
</template>

<script>

import { gql, gql_posts, headers } from "~/helpers/gql_partials_contentful";

  export default {
    head() {
      return {
        title: `Blog - piko made | Australian handmade accessories & jewellery `,
        meta: [
          {
            hid: 'blog',
            name: 'description',
            content: "A place for our blog and general updates on jewellery and accessories."
          }
        ]
      }
    },
    data() {
      return {
        posts: [],
        view_type: "row"
      }
    },
    computed: {
      sideposts() {
        return this.posts.slice(0, 3);
      }
    },
    mounted() {
      this.$store.dispatch("blog/get_posts");
    },
    async asyncData () {
     return await fetch(gql, { 
        method: "POST", 
        headers,
        body: JSON.stringify({
          query: gql_posts
        })
      })
      .then(res => res.json())
      .then(json => {
        return {
          posts: json.data.blogPostCollection.items
        }
      });
    }
  }
</script>

<style scoped>
.blog {
  margin-top: 40px;
}
.post {
  margin-bottom: 30px;
}
.post-content {
  margin-left: 30px;
}
.post-content a {
  color: #000;
  text-decoration: none;
}
.post-content a img {
  margin-left: 10px;
  height: 10px;
  width: 10px;
}
.post img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.best-sellers {
  margin-top: 60px;
  padding: 0;
}

.row-view {
  display: flex;
}

h3 {
  font-size: 20px;
}

.grid-view .post-content {
  margin-left: 0;
  margin-top: 10px;
}

.grid-view .post-img {
  width: 100%;
}

.view-type a.selected {
  text-decoration: none;
}

.view-type {
  color: #666666;
}
.view-type a {
  font-size: 14px;
  color: #000;
}
img.grid-icon, img.row-icon {
  height: 18px;
  margin-right: 4px;
  margin-bottom: 2px;
}

@media screen and (max-width: 991px) {
  .best-sellers {
    margin-top: 0;
  }
  .post-content {
    margin-left: 20px;
  }
  .post-content p {
    margin-bottom: 5px;
  }
  .post img {
    width: 125px;
    height: 125px;
  }
}

</style>