<template>
  <div>

    <Hero />

    <div class="callout">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8">
            <h2>Gold Coast based Australian handmade jewellery & accessories</h2>
            <p>Designed and made on the Gold Coast, Australia, by Ayumi Yamashiro! Piko specialises in unique mens and womens designs..</p>
          </div>
        </div>
      </div>
    </div>

    <OurRecommendations />

    <div class="callout-cta">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8">
            <h2>Up to 15% off Digital Gift Cards</h2>
            <p class="mb-3 mb-lg-4">Get a $200 Digital Gift Card for $170! Instant delivery via email.</p>
            <NuxtLink class="btn btn-primary d-inline-block px-5" :to="{path:'/products', query:{collection:'gift-cards'}}">Shop gift cards</NuxtLink>
          </div>
        </div>
      </div>
    </div>

    <div class="unique">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="wrap">
              <h2>What makes piko unique?</h2>
              <p>Piko's designs are unique and entirely based on Ayumi's emotions and feelings at the time of creation. Nearly all products are one-of-a-kind and won't be restocked!</p>
              <NuxtLink class="btn btn-primary" to="/products">Shop now</NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: 'piko made | Australian handmade accessories & jewellery. Japanese and Australian inspired designs.',
      meta: [
        {
          hid: 'home',
          name: 'description',
          content: 'Piko made is an Australian-Japanese jewellery and accessories brand. With a team of two and based in the beautiful Gold Coast Hinterland, we are focused on quality and unique antiquity. Shop now for bracelets, earrings and necklaces.'
        }
      ]
    }
  }
}
</script>

<style scoped>
.callout {
  padding-top: 60px;
  padding-bottom: 80px;
}
.callout-cta h2, .callout h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}

.callout p, .callout-cta p {
  font-size: 20px;
  text-align: center;
}

.callout-cta {
  padding-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

.callout-cta a {
  width: auto;
}

.unique {
  margin-top: 60px;
}

.unique h2 {
  margin-bottom: 30px;
}

.unique .container {
  background-image: url("https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210725_142051_resized_1.jpg?v=1630639117");
  background-position: center center;
  background-size: cover;
  padding: 40px;
}

.unique .container .wrap {
  padding: 30px;
  background-color: rgb(239 239 239 / 94%);
  border-radius: 6px;
}

.unique .container .wrap p {
  margin-bottom: 30px;
}

.unique .container .wrap .btn {
  width: auto;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 991px) {
  .callout {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .callout-cta h2, .callout h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .callout-cta p, .callout p {
    font-size: 18px;
  }
  .callout-cta {
    padding-top: 60px;
    margin-bottom: 0;
  }
}
</style>