<template>
  <div class="post">
    <p class="container" v-if="$fetchState.pending">Loading...</p>
    <p class="container" v-else-if="$fetchState.error">An error occurred :(</p>
    <div v-else>
      <img class="feature-img" :src="post.featureImage.url" :alt="post.featureImage.title">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumbs d-none d-lg-block">
              <NuxtLink to="/">Home</NuxtLink> <span class="mx-1">></span>
              <NuxtLink to="/blog">Blog</NuxtLink> <span class="mx-1">></span>
              <span>{{ post.title }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <h1>{{ post.title }}</h1>
            <p>On {{ new Date(post.publishDate).toDateString() }} by {{ post.author }}</p>
            <div class="body ">
              <RichTextRenderer :document="post.body.json" />
            </div>
            <div class="row gallery" v-if="post.galleryCollection.items.length > 0">
              <div v-for="(image, index) in post.galleryCollection.items" :key="index" class="col-lg-6 col-12 mb-4">
                <img :src="image.url" :alt="image.title">
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <BlogSidebar />
          </div>
        </div>
        <OurRecommendations class="best-sellers" />
      </div>
    </div>
  </div>
</template>


<script>
  import RichTextRenderer from 'contentful-rich-text-vue-renderer';
  export default {
    head() {
      return {
        title: `${this.post.title} - piko made | Australian handmade accessories & jewellery `,
        meta: [
          {
            hid: 'post-individual',
            name: 'description',
            content: this.post.shortDescription
          }
        ]
      }
    },
    components: {
      RichTextRenderer
    },
    data() {
      return {
        post: {}
      }
    },
    computed: {
      posts() {
        return this.$store.state.blog.posts.slice(0, 3);
      }
    },
    mounted() {
      this.$store.dispatch("blog/get_posts");
    },
    async fetch() {
      this.post = await this.$store.dispatch("blog/get_post_by_handle", this.$route.params.handle);
    }
  }
</script>


<style scoped>
.feature-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 60px;
}

.body {
  margin-top: 40px;
}

.body li p {
  margin-bottom: 0;
}

.gallery {
  margin-bottom: 60px;
}

.gallery img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: 1px solid #f9f9fe;
  display: block;
}

.breadcrumbs {
  margin-bottom: 20px;
}
.breadcrumbs a, .breadcrumbs span {
  font-size: 14px;
  color: #000;
}

.best-sellers {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .feature-img {
    height: 200px;
    margin-bottom: 40px;
  }
  .gallery {
    margin-bottom: 40px;
  }
}
</style>