<template>
  <div>
    <p class="py-4 container text-center" v-if="$fetchState.pending">Doing some things...<img style="height:20px" src="/loading.svg" alt="loading icon piko made"></p>
    <div v-if="selected_variant && product">
      <div class="container product">

        <div class="breadcrumbs d-none d-lg-block">
          <NuxtLink to="/">Home</NuxtLink> <span class="mx-1">></span>
          <NuxtLink to="/products">Products</NuxtLink> <span class="mx-1">></span>
          <NuxtLink v-if="product.collections.edges.length > 0" :to="`/products?collection=${product.collections.edges[0].node.handle}`">{{product.collections.edges[0].node.title}}</NuxtLink> <span class="mx-1">></span>
          <span>{{ product.title }}</span>
        </div>

        <div class="row justify-content-between product-hero">
          <div class="col-lg-7 mb-4 mb-lg-0 slider">
            <VueSlickCarousel :speed="1000" :fade="true" @afterChange="afterChange" ref="carousel" :slidesToShow="1" :arrows="false" :dots="false">
              <div v-for="{node:image} in product.images.edges" class="col-3" :key="image.transformedSrc">
                <img loading="lazy" class="w-100 slide-img" :src="image.transformedSrc" :alt="image.altText ? image.altText : product.title">
              </div>
            </VueSlickCarousel>
            <div v-if="product.images && product.images.edges.length > 1" class="d-flex mt-4 slider-nav">
              <div @click="go_to(index)" :class="[current_slide === index ? 'active': '', 'thumbs']" v-for="({node:image}, index) in product.images.edges" :key="image.transformedSrc">
                <img :src="image.transformedSrc" :alt="image.altText ? image.altText : product.title">
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cta p-4">
              <h1 class="prod-title">{{ product.title }}</h1>
              <div class="rating">
                <ProductRating :product="product" />
              </div>
              <select v-if="product.hasVariants" class="form-select" @change="select_change($event)">
                <option :selected="selected_variant.id === variant.id" v-for="{ node:variant } in product.variants.edges" :key="variant.id" :value="variant.id">{{ variant.title }}</option>
              </select>
              <p class="price">
                <span v-if="selected_variant.compareAtPriceV2" class="compare-price">{{ money(selected_variant.compareAtPriceV2.amount) }}</span> 
                <span>{{ money(selected_variant.priceV2.amount) }}</span>
                <br>
                <span class="saving" v-if="selected_variant.compareAtPriceV2 && (selected_variant.compareAtPriceV2 !== selected_variant.compareAtPriceV2.amount)">You save {{ savings }}!</span>
              </p>
              <hr>
              <p v-if="selected_variant.quantityAvailable > 1" class="desc">There's {{ selected_variant.quantityAvailable }} left in stock!</p>
              <p v-if="selected_variant.quantityAvailable === 1" class="desc">This is the last one in stock!</p>
              <p v-if="selected_variant.quantityAvailable === 0 && !product.title.includes('gift')" class="desc"><u>We have 0 stock.</u> Your product will be made to order! It may be slightly different than pictured.</p>
              <button class="buy btn btn-primary" v-if="selected_variant && selected_variant.availableForSale" @click="add_to_cart(selected_variant.id)" :disabled="loading && true"><img src="/cart-add.svg" alt="Add to cart"/><span v-if="!loading">Add to cart</span><span v-else>Adding...</span></button>
              <button v-else disabled class="btn btn-primary disabled">Out of stock!</button>
              <a href="#shipping-info" class="mt-2 mb-0 ship text-center"><u>Spend $50 for free domestic shipping!</u></a>
              <PaymentIcons class="mt-2" />
            </div>
          </div>
        </div>

        <div v-if="product.description !== ''" class="row the-details">
          <div class="col-12 col-lg-6">
            <h2>The Details</h2>
            <div v-html="product.descriptionHtml"></div>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-block">
            <img loading="lazy" v-show="!product.title.toLowerCase().includes('earring')" src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/20210822_202741_jpg.jpg?v=1629714857" alt="Piko products" class="w-100">
            <img loading="lazy" v-show="product.title.toLowerCase().includes('earring')" src="https://cdn.shopify.com/s/files/1/0595/2841/3376/files/hanger.jpg?v=1630930243" alt="Piko products" class="w-100">
          </div>
        </div>


        <Reviews :product="product" :reviews="reviews" />


        <ProductRichSnippet :product="product" :product_reviews="reviews" />
        

        <div v-if="!product.title.includes('gift')" class="row gallery">
          <div class="col-12">
            <h2>The Gallery</h2>
            <div class="row">
              <div v-for="{node:image} in product.images.edges" class="col-12 mb-4" :key="image.transformedSrc">
                <img loading="lazy" class="w-100" :src="image.transformedSrc" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div v-if="!product.title.includes('gift')" class="shipping-info row" id="shipping-info">
          <div class="col-12">
            <h2>Shipping & Postage</h2>
            <p><strong>Australia</strong></p>
            <div class="row">
              <div class="col-lg-6 col-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Condition</th>
                      <th>Speed</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Express</td>
                      <td>$0.00–$50.00</td>
                      <td>1 to 4 business days</td>
                      <td>$10.00</td>
                    </tr>
                    <tr>
                      <td>Express</td>
                      <td>$50.00 and up</td>
                      <td>1 to 4 business days</td>
                      <td>$5.00</td>
                    </tr>
                    <tr>
                      <td>Standard</td>
                      <td>$0.00–$50.00</td>
                      <td>2 to 8 business days</td>
                      <td>$5.00</td>
                    </tr>
                    <tr>
                      <td>Standard</td>
                      <td>$50.00 and up</td>
                      <td>2 to 8 business days</td>
                      <td>Free</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p><strong>Shipping</strong></p>
            <p>Orders placed before 3PM AEST, Monday-Friday, will be shipped the same day!</p>
            <p><strong>Delivery Time</strong></p>
            <p>Keep an eye on your order confirmation for shipping updates! Orders should arrive within 5 days, but allow some additional time during covid! Head over to the <NuxtLink to="/shipping">shipping information</NuxtLink> page for additional info!</p>
          </div>
          <div class="tags col-12" v-if="product.tags.length > 0">
            <p><strong>Tags</strong></p>
            <div class="d-flex flex-wrap">
              <span class="text-nowrap mb-2" v-for="(tag, index) in product.tags" :key="index">{{ tag }}</span>
            </div>
          </div>
        </div>

        <div v-if="!product.title.includes('gift')" class="unique row">
          <div class="col-12">
            <h2>Unique jewellery & accessories</h2>
            <p>Have you been looking for a unique gift for your loved one or significant other? Here at piko made we have a huge variety of hand crafted accessories and jewellery. Earrings, bracelets and necklaces are what we do best!</p>
          </div>
        </div>

      </div>
    </div>

    <OurRecommendations />

    <div class="sticky-atc">
      <button v-if="selected_variant && selected_variant.availableForSale" :disabled="loading && true"  @click="add_to_cart(selected_variant.id)" class="buy btn btn-primary"><img src="/cart-add.svg" alt="Add to cart"/><span v-if="!loading">Add to cart - {{ money(selected_variant.priceV2.amount) }}</span><span v-else>Adding...</span></button>
      <button v-else disabled class="btn btn-primary disabled">Out of stock!</button>
    </div>

  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';

import { gql_product_by_handle, gql, headers } from "~/helpers/gql_partials";
import { product_map } from "~/helpers/mappers";

export default {
  components: { VueSlickCarousel },
  data() {
    return {
      loading: false,
      selected_variant: null,
      product: {title:""},
      current_slide: 0
    }
  },
  head() {
    return {
      title: `${this.product.title} - piko made | Australian handmade accessories & jewellery `,
      meta: [
        {
          hid: 'product-individual',
          name: 'description',
          content: this.product.description
        }
      ],
      script: [
        {
          hid: 'stamped',
          src: 'https://cdn1.stamped.io/files/widget.min.js',
          callback: () => { 
            StampedFn.init({ apiKey: 'pubkey-6UkoO4B9M3R347h2I6M55QkY9Kwd2C', storeUrl: 'pikomade.com' });
          } 
        }
      ]
    }
  },
  computed: {
    savings() {
      const compare_price = +this.selected_variant.compareAtPriceV2.amount;
      const price = +this.selected_variant.priceV2.amount;
      return `${parseInt(((compare_price - price)/compare_price)*100)}%`;
    },
    reviews() {
      return this.$store.state.reviews.data.filter(review => review.productSKU === this.product.handle);
    }
  },
  methods: {
    async add_to_cart(variant_id) {
      this.loading = true;
      await this.$store.dispatch("cart/add", variant_id);
      this.loading = false;
    },
    select_change(e) {
      this.change_variant(e.target.value);
      const image_position = this.product.images.edges.findIndex(({node:image}) => image.id === this.selected_variant.image.id);
      this.go_to(image_position);
    },
    change_variant(variant_id) {
      const variant = this.product.variants.edges.find(({node:variant}) => variant.id === variant_id);
      this.selected_variant = variant.node;
    },
    money(val) {
      return `$${parseFloat(val).toFixed(2)} ${this.$store.state.store.currencyCode}`;
    },
    go_to(index) {
      this.$refs.carousel.goTo(index)
    },
    afterChange(index) {
      this.current_slide = index;
    }
  },
  async fetch() {
    const fetched_product = await this.$store.dispatch("product_by_handle", this.$route.params.handle);
    this.product = fetched_product.product.node;
    this.change_variant(fetched_product.product.node.variants.edges[0].node.id);
  },
  async asyncData ({ params, error, payload }) {
    const body = gql_product_by_handle(params.handle);
    const product = await fetch(gql, { method: "POST", headers, body }).then(res => res.json());
    let new_product = product_map(product.data.productByHandle);
    return { product: new_product };
  }
}
</script>

<style scoped>
.container {
  margin-top: 60px;
}

.compare-price {
  text-decoration: line-through;
  color: #b5b5b5;
  font-size: 14px;
  margin-right: 5px;
}

.buy.btn img {
  height: 15px;
  width: 15px;
  margin: 0;
  filter: invert(1);
  margin-right: 5px;
  margin-bottom: 1px;
}

.saving {
  color: #f26430;
  font-weight: 500;
  letter-spacing: 1px;
}

.tags span {
  margin-right: 10px;
  background: #7952b3;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 10px;
  color: #fff;
  font-weight: 500;
}

.cta {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 9px 0px;
  position: sticky;
  top: 150px;
  border-radius: 6px;
}

.prod-title {
  margin-bottom: 30px;
}

.slider-nav {
  flex-wrap: wrap;
}

.thumbs {
  transition: 0.3s;
  transform: scale(0.85);
  border: 1px solid #f9f9fe;
  width: 20%;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.7;
  margin-bottom: 5px;
  border-radius: 6px;
  overflow: hidden;
}

.thumbs.active {
  transform: scale(1.03);
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
  border: none;
  opacity: 1;
}

.thumbs img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center center;
}

.price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.details {
  font-size: 18px;
  margin: 20px 0;
}
.form-select {
  margin-bottom: 30px;
}
.desc {
  margin-bottom: 5px;
  color: #f26430;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}
hr {
  margin: 0;
  margin-bottom: 30px;
}
.slider {
  padding-left: 40px;
  padding-right: 40px;
}
.breadcrumbs {
  margin-bottom: 20px;
  padding-left: 30px;
}
.breadcrumbs a, .breadcrumbs span {
  font-size: 14px;
  color: #000;
}
.product-hero {
  margin-bottom: 60px;
}
.the-details {
  padding-top: 60px;
  padding-bottom: 40px;
  border-top: 1px solid #f9f9fe;
}

h2 {
  margin-bottom: 30px;
}

.gallery {
  padding-bottom: 50px;
  padding-top: 60px;
  border-bottom: 1px solid #f9f9fe;
  border-top: 1px solid #f9f9fe;
}

.unique {
  border-bottom: 1px solid #f9f9fe;
  padding-bottom: 50px;
}

.gallery img {
  border: 1px solid #f9f9fe;
  background: #f9f9fe;
  border-radius: 6px;
}

.ship {
  font-size: 14px;
  color: rgb(88, 89, 91);
  line-height: 24px;
  width: 100%;
  display: block;
}

.shipping-info {
  padding-bottom: 50px;
  padding-top: 60px;
  border-bottom: 1px solid #f9f9fe;
  margin-bottom: 60px;
}

.slide-img {
  background: #f9f9fe;
  height: 565px;
  width: 690px;
  object-fit: cover;
  object-position: center center;
}

.sticky-atc {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 30%) 3px 2px 9px 0px;
}


@media screen and (max-width: 991px) {
  .container {
    margin-top: 0;
  }

  .product-hero {
    margin-bottom: 40px;
  }

  .the-details {
    margin-bottom: 0;
    padding-top: 40px;
  }

  .gallery {
    margin-bottom: 0;
    padding-top: 40px;
  }
  

  .shipping-info {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .slider {
    padding-left: 0;
    padding-right: 0;
  }

  .unique {
    margin-bottom: 40px;
  }

  .slider-nav {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sticky-atc {
    display: block;
  }

  .slide-img {
    height: 330px;
    width: 100%;
  }

}
</style>